---
layout: default
---

<article class="post">
  <div class="date">
    <small>{{ page.date | date: "%Y/%m/%d" }}</small>
  </div>
 
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>

<script>
(function() {
var lb = document.createElement('script'); lb.type = 'text/javascript'; lb.async = true;
lb.src = '//cdn.logbk.net/v1/logbk.min.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lb, s);
})();
var _lbq = _lbq || [];
_lbq.push(['setTrackingCode', 'JOXbZEfP']);
_lbq.push(['trackSys', '_access']);
</script>
